<div class="uni-banner">
    <div class="uni-owl-one-item owl-carousel owl-theme">
        
        {% for banner in banners %}
        <div class="item">
            <div class="uni-banner-img" style="background: url('{{ banner.image_url }}');"></div>
            <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                <div class="container">
                    <div class="caption">
                        <h1>{{ banner.title }}</h1>
                        <p>
                           {{ banner.short_description|safe }}
                        </p>
                        <a href="#">our services</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>