<div class="uni-home-customers-says">
    <div class="uni-shortcode-testimonials-2 uni-background-3">
        <div class="container">

            <div class="uni-home-title">
                <h3>Customers say</h3>
                <div class="uni-underline"></div>
            </div>

            <div class="uni-owl-two-item owl-carousel owl-theme">
                
                {% for testimonial in testimonials %}
                <div class="item">
                    <div class="uni-shortcode-testimonials-default">
                        <div class="item-info">
                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <div class="item-info-img">
                                        <img src="{{ testimonial.image_url }}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-8">
                                    <div class="item-info-title">
                                        <h4>{{ testimonial.name }}</h4>
                                        <p class="testimonial_subtitle">{{ testimonial.designation }}</p>
                                    </div>
                                    <div class="uni-divider"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-caption">
                            <p>
                                {{ testimonial.description }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
</div>