<div class="uni-hơm-1-department">
    <div class="container">
        <div class="uni-home-title">
            <h3>Department</h3>
            <div class="uni-underline"></div>
        </div>
        <div class="uni-shortcode-icon-box-1">
            <div class="row">
                
                {% for department in departments %}
                <div class="col-md-4 col-sm-6">
                    <div class="uni-shortcode-icon-box-1-default">
                        <div class="item-icons">
                            <img src="{{ department.image_url }}" alt="" class="img-responsive">
                        </div>
                        <div class="item-caption">
                            <h4>{{ department.title }}</h4>
                            <p>{{ department.short_description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>