<div class="uni-hơm-1-department">
    <div class="container">
        <div class="uni-home-title">
            <h3>Department</h3>
            <div class="uni-underline"></div>
        </div>
        <div class="uni-shortcode-icon-box-1">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="uni-shortcode-icon-box-1-default">
                        <div class="item-icons">
                            <img src="images/icons_box/icon_1/icon-5.png" alt="" class="img-responsive">
                        </div>
                        <div class="item-caption">
                            <h4>cardiology</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas adipisicing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="uni-shortcode-icon-box-1-default">
                        <div class="item-icons">
                            <img src="images/icons_box/icon_1/icon-4.png" alt="" class="img-responsive">
                        </div>
                        <div class="item-caption">
                            <h4>Neurology</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas adipisicing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="uni-shortcode-icon-box-1-default">
                        <div class="item-icons">
                            <img src="images/icons_box/icon_1/icon-3.png" alt="" class="img-responsive">
                        </div>
                        <div class="item-caption">
                            <h4>Orthopedics</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas adipisicing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="uni-shortcode-icon-box-1-default">
                        <div class="item-icons">
                            <img src="images/icons_box/icon_1/icon-2.png" alt="" class="img-responsive">
                        </div>
                        <div class="item-caption">
                            <h4>cancer department</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas adipisicing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="uni-shortcode-icon-box-1-default">
                        <div class="item-icons">
                            <img src="images/icons_box/icon_1/icon-1.png" alt="" class="img-responsive">
                        </div>
                        <div class="item-caption">
                            <h4>Ophthalmology</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas adipisicing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="uni-shortcode-icon-box-1-default">
                        <div class="item-icons">
                            <img src="images/icons_box/icon_1/icon.png" alt="" class="img-responsive">
                        </div>
                        <div class="item-caption">
                            <h4>Respiratory</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas adipisicing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>