{% extends 'base.html' %}
{% load static %}



{% block title %}
    Welcome Medicare
{% endblock title %}
    
{% block main_content %}
<div id="main-content" class="site-main-content">
    <section class="site-content-area">

        <!--BANNER-->
        {% include 'core/banner.html' %}

        <!--OPENING HOURS AND BOOK APPOINTMENT-->
        {% include 'core/appointment.html' %}


        <!--DEPARTMENT-->
        {% include 'core/department.html' %}

        <!--OUR DOCTOR-->
        {% include 'core/our_doctor.html' %}


        <!--OUR SERVICES-->
        {% include 'core/our_service.html' %}

        <!--CUSTOMERS SAY-->
        {% include 'core/customer_say.html' %}

        <!--FAQ'S  and LASTEST POST-->
        {% include 'core/latest_post.html' %}

        <!--MAP-->
        <div class="uni-home-map">
            <div class="uni-about-map">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.355677596112!2d-0.13052618407551403!3d50.82457546821709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875859878db2cc7%3A0xff129250121f260d!2s45+Queen's+Park+Rd%2C+Brighton+BN2+0GJ%2C+V%C6%B0%C6%A1ng+Qu%E1%BB%91c+Anh!5e0!3m2!1svi!2s!4v1514436176997"  height="700" style="border:0" ></iframe>
            </div>
        </div>


    </section>
</div>
{% endblock main_content %}
    