<div class="uni-home-faq-latest-post">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="uni-home-faq">
                    <div class="uni-home-title">
                        <h3>Faq's</h3>
                        <div class="uni-line"></div>
                    </div>
                    <div class="accordion-default">
                        <div class="accordion-min-plus">
                            <div class="accordion">
                                
                                {% for faq in faqs %}
                                <div class="accordion-item">
                                    <h4 class="accordion-toggle">{{ faq.title }}</h4>
                                    <div class="accordion-content">
                                        <p>
                                            {{ faq.description }}
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="uni-home-latest-post">
                    <div class="uni-home-title">
                        <h3>latest posts</h3>
                        <div class="uni-line"></div>
                    </div>
                    <div class="uni-home-latest-post-body">
                        <div class="item">
                            <div class="item-img">
                                <a href="#"><img src="images/home1/lastestpost/img2.png" alt="" class="img-responsive"></a>
                            </div>
                            <div class="item-caption">
                                <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></h4>
                                <span class="time">June 12, 2017</span>
                            </div>
                        </div>
                        <div class="uni-divider"></div>
                        <div class="item">
                            <div class="item-img">
                                <a href="#"><img src="images/home1/lastestpost/img3.png" alt="" class="img-responsive"></a>
                            </div>
                            <div class="item-caption">
                                <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></h4>
                                <span class="time">June 12, 2017</span>
                            </div>
                        </div>
                        <div class="uni-divider"></div>
                        <div class="item">
                            <div class="item-img">
                                <a href="#"><img src="images/home1/lastestpost/img4.png" alt="" class="img-responsive"></a>
                            </div>
                            <div class="item-caption">
                                <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></h4>
                                <span class="time">June 12, 2017</span>
                            </div>
                        </div>
                        <div class="uni-divider"></div>
                        <div class="item">
                            <div class="item-img">
                                <a href="#"><img src="images/home1/lastestpost/img5.png" alt="" class="img-responsive"></a>
                            </div>
                            <div class="item-caption">
                                <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></h4>
                                <span class="time">June 12, 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>