<div class="uni-home-our-services">
    <div class="uni-shortcode-icons-box-5">
        <div class="container">

            <div class="uni-home-title">
                <h3>Our Services</h3>
                <div class="uni-underline"></div>
            </div>

            <div class="row">
                
                {% for service in services %}
                <div class="col-md-4 col-sm-6">
                    <div class="uni-shortcode-icons-box-5-default">
                        <div class="item-icons-title">
                            <div class="col-md-4 uni-clear-padding">
                                <div class="item-icons">
                                    <img src="{{ service.department.image_url }}" alt="{{ service.name }}">
                                </div>
                            </div>
                            <div class="col-md-8 uni-clear-padding">
                                <div class="item-title">
                                    <h4>{{ service.name }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item-caption">
                            <p>
                                {{ service.short_description|safe }}
                            </p>
                            <a href="#" class="readmore">Read more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                    
            </div>

            <div class="btn-all-services">
                <a href="#">All services +</a>
            </div>

        </div>
    </div>
</div>